# --- DOSSIERS DE BUILD (Ne jamais partager) ---
bin/
obj/
build/
cmake-build-*/

# --- FICHIERS TEMPORAIRES IDE ---
# Code::Blocks (Paramètres utilisateur à ne pas partager)
*.layout
*.depend
*.workspace

# CLion / VSCode (Anciens fichiers à ignorer)
.idea/
.vscode/

# --- FICHIERS SYSTÈME ---
.DS_Store
Thumbs.db

# --- BINAIRES & LIBRAIRIES ---
*.exe
*.dll
*.a
*.o
*.dylib
*.so

# --- FICHIER PROJET CODE::BLOCKS ---
# Important : On force Git à inclure le fichier projet 
!CodeFighter.cbp